.main-panel {
    border: 0px solid darkgray;
    max-width: 500px;
    margin: 0 auto;
}

.nbr {
    margin: 0;
}

.nw {
    color: #ffffff;
}

.i-nbr {
    float: left;
    width: 35px;
    margin: 0 4px;
}

.bnc-row {
    margin: 15px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    font-size: 1.8em;
}